/* MENU */

.navbar{
    width: 100%;
    height: 100%;
}
#menu-lateral{
    margin-left: -1.1em;
    height: 100%!important;
}
.menu{
    text-align: center;
    font-family: 'Pacifico', cursive;
    
}
.menu:hover{
    color: brown;
    cursor: pointer;
}
ul{
    padding: 0.4em;
}

li{
    text-align: center;
    list-style: none;
}
a{
    font-size: 1.4em;
    color: white;
    font-family: 'Kalam', cursive;
    
}
a:hover{
    text-decoration: none;
    color: white;
} 
#test{
    width: 100%;
    height: 300px;
    color: blue;
}
/* FIM MENU */

/* ICONS */
.icons{
    width: 40px;
    height: 40px;;
}

/* TITULOS DAS TABELAS */
.titulos{
    margin-top: 1em;
}

/* FOTO IMOVEL */
#foto-imovel{
    width: 150px;
    height: 150px;
}
/* FIM FOTO IMOVEL */


/* FOOTER */

#rodape{
    height: 100%!important;
    padding: 7em;
}
/* FIM FOOTER */
